---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import ContactUs from '~/components/widgets/Contact.astro';
//import HeroText from '~/components/widgets/HeroText.astro';
import Brands from '~/components/widgets/Brands.astro';
import CookieConsent from '~/components/widgets/CookieConsent.astro';

const metadata = {
  title: 'Forgia Labs — Tecnologie rivoluzionarie al servizio della vera sostenibilità',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contattaci ',
        href: '#form',
        //target: '_blank',
        icon: 'tabler:brand-messenger',
      },
      /* { text: 'Learn more', href: '#features' },*/
    ]}
    image={{ src: '~/assets/images/Hero-Forgia.webp', alt: 'Forgia Labs - Al servizio della sostenibilità' }}
  >
    <Fragment slot="title">
      Forgia Labs
    </Fragment>

    <Fragment slot="subtitle">
      Tecnologie rivoluzionarie al servizio della vera sostenibilità
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note />  -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="About Us"
    title="Cosa facciamo"
    subtitle="Aiutiamo aziende, startup e enti del terzo settore a integrare tecnologie innovative per efficientare ed ampliare le loro attività"
    items={[
      {
        title: 'Web & digital',
        description:
          "Offriamo supporto completo alle aziende nel processo di digitalizzazione, affiancandole nello sviluppo e nell'adozione di software CMS, e-commerce e soluzioni gestionali web-based in cloud, garantendo efficienza, scalabilità e innovazione per ottimizzare le operazioni e migliorare la competitività sul mercato.",
        icon: 'tabler:html',
      },
      {
        title: 'Web3',
        description:
          "Offriamo progettazione e sviluppo di protocolli Web3 e DApp in blockchain, integrazione di componenti Web3 nei software aziendali, supporto nella creazione di cryptoasset come NFT e Real World Asset (RWA), e consulenza specializzata per guidare le aziende nell'adozione e utilizzo di tecnologie blockchain innovative.",
        icon: 'tabler:currency-ethereum',
      },
      {
        title: 'AI & Automation',
        description:
          "Offriamo creazione di AI Agent e soluzioni web-based con AI per automatizzare i processi aziendali ripetitivi, integrando soluzioni di terze parti come ChatGPT e altri modelli, anche non basati su LLM, per migliorare efficienza, produttività e innovazione all'interno della vostra impresa.",
        icon: 'tabler:robot',
      },
      {
        title: 'Fundraising',
        description:
          'Offriamo un servizio di agevolazione al fundraising per startup e imprese, supportando nella ricerca di finanziamenti tramite bandi pubblici, crowd funding, venture capital e business angels. Con esperienza nella creazione di business model e business plan, aiutiamo a sviluppare strategie vincenti per attrarre investimenti e far crescere la vostra attività.',
        icon: 'tabler:currency-euro',
      },
    ]}
  />

  <!-- Services Widget -->

  <Features2
    id="servizi"
    title="Servizi"
    subtitle="Questi sono i nostri servizi"
    columns={3}
    items={[
      {
        title: 'Integrazione WEB3',
        description:
          "Offriamo sviluppo di DApp e protocolli e l’integrazione con network blockchain all'avanguardia. Supportiamo nell'individuazione ed implementazione degli stack tecnologici più indicati per il caso specifico.",
        icon: 'tabler:topology-star',
      },
      {
        title: 'Setup di nodi WEB3',
        description:
          "Setup dell'infrastruttura necessaria per partecipare attivamente allo sviluppo di procolli Web3 e DePIN ricevendo le conseguenti ricompense.",
        icon: 'tabler:network',
      },
      {
        title: 'Sviluppo di Cryptoasset',
        description:
          "Offriamo creazione di cryptoasset e sviluppo di smart contract correlati, inclusi vesting contract, distribution contract e whitelisting, garantendo soluzioni sicure e personalizzate per ottimizzare la gestione e la distribuzione dei vostri asset digitali.",
        icon: 'tabler:coin-bitcoin',
      },
      {
        title: 'AI Agent',
        description:
          'Addestriamo AI agents per ottimizzare ed efficientare i processi aziendali automatizzabili, migliorando produttività e riducendo i costi operativi, garantendo soluzioni innovative e personalizzate per la vostra impresa.',
        icon: 'tabler:ai',
      },
      {
        title: 'Business Automation',
        description: 'Sviluppiamo di soluzioni di business automation per ottimizzare ed efficientare i processi aziendali, migliorando produttività, riducendo i costi operativi e garantendo soluzioni innovative e personalizzate.',
        icon: 'tabler:view-360-arrow',
      },
      {
        title: 'AI Infrastructure',
        description:
          "Aiutiamo le aziende ad integrarsi con servizi innovativi di cloud computing e di gestione dati distribuiti, così da costruire servizi personalizzati sulle esigenze del cliente e ottimizzando i costi.",
        icon: 'tabler:file-text-ai',
      },
      {
        title: 'Token design',
        description:
          "Supportiamo realtà a progettare sistemi di token economics legati ad utility token e alla loro spendibilità all’interno di un’ecosistema digitale",
        icon: 'tabler:arrows-split-2',
      },
      {
        title: 'DID e ENS domains',
        description: 'Aiutiamo le aziende a comprendere, utilizzare e integrare domini .eth, di altri soluzioni di identità digitale decentralizzata',
        icon: 'tabler:chart-donut-filled',
      },
      {
        title: 'Web3 Fundraising',
        description:
          "Offriamo strategie di fundraising basate sulla creazione e vendita di crypto asset, fornendo supporto nell'individuazione di partner strategici come Legal Advisors, Launchpad e Market Makers, per garantire il successo dell'iniziativa'.",
        icon: 'tabler:chart-bar-popular',
      },
    ]}
  />

  <!-- Missione widget -->


  <Features2
    id="mission"
    title="La nostra missione"
    subtitle="Non solo rendere l'innovazione più sostenibile a livello ambientale. Compieremo il prossimo vero passo avanti come specie quando troveremo modi per utilizzare le nuove tecnologie che abbiano un impatto positivo sull'intero ecosistema naturale. Diamo il nostro supporto a startup, imprese sociali e iniziative associative che si impegnano nella ricerca di nuovi modelli socio-economici e tecnologici improntati ad una maggiore sostenibilità sociale, ambientale e, solo infine, economica."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>




  <!-- Brands Widget ****************** -->

  <Brands
    id="partner"
    title="Partnerships & Collaborations"
    subtitle="Questi sono i partner che giorno dopo giorno supportano con entusiasmo il nostro lavoro"
    icons={[]}
    images={[
      {
        src: '~/assets/images/developermood-logo-1200x640.png',
        alt: 'developermood',
      },
      {
        src: '~/assets/images/logo-cryptolab-1200x640.jpg',
        alt: 'CryptoLab',
      },
      {
        src: '~/assets/images/logo-etherevolution-1200x640.jpg',
        alt: 'ETHERevolution',
      },

    
    ]}
  />

    <!-- Stats Widget ****************** -->
<!--
  <Stats
    title="I nostri numeri!"
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />
 -->
  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title="Frequently Asked Questions"
    subtitle="Rispondiamo ad alcune domande che ci ponete di frequente."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Si può pagare con le cryptovalute?',
        description:
          "Si! Accettiamo pagamenti con Coinbase Business.",
      },
      {
        title: 'Utilizzate la formula Work for Equity con le startup?',
        description:
          "Si! Prima di procedere, è necessario superare una fase di conoscenza iniziale che include un primo percorso di consulenza retribuito. Successivamente, possiamo valutare altre modalità di collaborazione.",
      },
      {
        title: 'Offrite supporto legale alle stertup?',
        description:
          'Sì, offriamo supporto legale alle startup. Disponiamo di una rete di professionisti altamente qualificati, che ci consente di fornire consulenze in diversi settori, assicurando assistenza completa e specializzata per le esigenze legali specifiche di ogni attività.',
      },
      {
        title: 'Offrite supporto legale per i progetti WEB3?',
        description:
          'Sì, offriamo supporto legale per i progetti Web3. Disponiamo di una rete di professionisti esperti, che ci consente di fornire consulenze specializzate in diversi settori, garantendo assistenza completa per le esigenze legali specifiche del settore.',
      },
    ]}
  />

  <!-- HeroText Widget ******************* -->

  <ContactUs
    id="form"
    title="Entriamo in contatto!"
    subtitle="Manda un breve messaggio con la tua richiesta."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
      {
        type: 'hidden',
        name: 'access_key',
        value: '91f21af5-c5f6-4092-801f-0ea0d13baf63',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'Inviando questo form di contatto acconsenti ed accetti che salviamo i tuoi dati.',
    }}
    description="Ti risponderemo entro 72 ore."
  />

  <CookieConsent />
</Layout>
